$prefix: pandemonium;

html, body, body > div {
    height: 100%;
}

body > div {
    background-color: white;
    @media (prefers-color-scheme: dark) {
        background-color: black;
    }
}

.#{$prefix} {
    &-nav {
        background-color: white;
        @media (prefers-color-scheme: dark) {
            background-color: black;
        }

        border-bottom: 1px solid black;
        @media (prefers-color-scheme: dark) {
            border-color: white;
        }

        padding: 10px 15px;

        &link {
            text-transform: capitalize;
            margin: 5px 10px;
            text-decoration: none;

            color: black;
            @media (prefers-color-scheme: dark) {
                color: white;
            }

            &::first-letter {
                text-transform: uppercase;
            }

            &[aria-current="page"], &.active, &:hover {
                text-decoration: underline;
            }
        }
    }

    &-content {
        padding: 10px 25px;

        color: black;
        @media (prefers-color-scheme: dark) {
            color: white;
        }
    }
}

@for $hour from 0 to 24 {
    $da: $hour * 4.3;
    $hour: $hour + 8;

    @if 23 < $hour {
        $hour: $hour - 24;
    }

    .hour-#{$hour} {
        background-color: darken($color: white, $amount: $da);
    }
}
